/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

th {
  cursor: pointer;
}
th,
td {
  text-align: center;
  padding: 0.5rem;
}
td {
  /* background-color: white; */
  height: 4rem;
  padding: 2rem 0rem;
  border-bottom: 1px solid rgba(193, 208, 232, 0.6);
  transition: all 0.4s;
}

tr:hover {
  background-color: rgba(163, 159, 152, 0.2);
}

table {
  background-color: white;
}
